#!/bin/bash

# Regular
export BLACK='\033[0;30m'
export RED='\033[0;31m'
export GREEN='\033[0;32m'
export YELLOW='\033[0;33m'
export BLUE='\033[0;34m'
export PURPLE='\033[0;35m'
export CYAN='\033[0;36m'
export WHITE='\033[0;37m'

# Bold
export LIGHT_BLACK='\033[1;30m'
export LIGHT_RED='\033[1;31m'
export LIGHT_GREEN='\033[1;32m'
export LIGHT_YELLOW='\033[1;33m'
export LIGHT_BLUE='\033[1;34m'
export LIGHT_PURPLE='\033[1;35m'
export LIGHT_CYAN='\033[1;36m'
export LIGHT_WHITE='\033[1;37m'

# Background
export ON_BLACK='\033[0;40m'
export ON_RED='\033[0;41m'
export ON_GREEN='\033[0;42m'
export ON_YELLOW='\033[0;43m'
export ON_BLUE='\033[0;44m'
export ON_PURPLE='\033[0;45m'
export ON_CYAN='\033[0;46m'
export ON_WHITE='\033[0;47m'
export NO_COLOUR='\033[0m'

export CLICOLOR=1
export LSCOLORS=GxFxCxDxBxegedabagaced

export FIGNORE="CVS:.DS_Store:.svn"
export EDITOR='nano'
export PAGER='less -SFX'
export MAKEFLAGS='-j 3'

# Prefer US English and use UTF-8
export LC_ALL="en_US.UTF-8"
export LANG="en_US"
export LC_CTYPE="en_US.UTF-8"

# Our own bin dir at the highest priority, followed by /usr/local/bin
export PATH="/usr/local/bin:/usr/local/sbin:$PATH"

if [ "$TERM_PROGRAM" == "Apple_Terminal" ]; then
    # Press V in less to edit the file
    if [[ -x "`which subl`" ]]; then
        export LESSEDIT='subl %f:%1m'
    elif [[ -x "`which mate`" ]]; then
        export LESSEDIT='mate -l %lm %f'
    fi
fi

# History Tracking
export HISTSIZE=32768
export HISTFILESIZE=$HISTSIZE
export HISTCONTROL=ignoreboth

# Make some commands not show up in history
export HISTIGNORE="ls:ls *:cd:cd -:pwd;exit:date:* --help"
export HISTTIMEFORMAT="%Y-%m-%d %H:%M:%S  "

shopt -s histappend
shopt -s nocaseglob

# Add global node_modules to PATH if available
if [ -d /usr/local/lib/node_modules ]; then
    export NODE_PATH="/usr/local/lib/node_modules"
fi

if which brew > /dev/null; then
    BREW_PREFIX=`brew --prefix`
    # Load Homebrew's shell completion
    if [ -f "$BREW_PREFIX/etc/bash_completion" ]; then
        . "$BREW_PREFIX/etc/bash_completion"
    fi
    # Load GRC
    if [ -f "$BREW_PREFIX/etc/grc.bashrc" ]; then
        . "$BREW_PREFIX/etc/grc.bashrc"
    fi
    # homebrew-php
    PHP_BREW_PREFIX=`brew --prefix php53`
    if [ -d "$PHP_BREW_PREFIX/bin" ]; then
        export PATH="$PHP_BREW_PREFIX/bin:$PATH"
    fi
    # Set custom temp directory
    export HOMEBREW_TEMP=/usr/local/tmp
fi

# For permissions on OSX
if [[ "$OSTYPE" =~ ^darwin ]]; then
    export GEM_HOME="$HOME/.gem"
    export GEM_PATH="$HOME/.gem"
    export RUBYOPT=rubygems
fi

if [[ -z "$SHORT_USER" ]]; then
    export SHORT_USER="$USER"
fi

# user@hostname: /path (git) $
export PS1="$GREEN$SHORT_USER@\\h$LIGHT_GREY: $BLUE\\w $RED"'$(__git_ps1 "(%s) ")'"$PURPLE\\$ $NO_COLOUR"
