function trash() {
    mv $@ ~/.Trash/
}

function git_current_tracking()
{
    local BRANCH="$(git describe --contains --all HEAD)"
    local REMOTE="$(git config branch.$BRANCH.remote)"
    local MERGE="$(git config branch.$BRANCH.merge)"
    if [ -n "$REMOTE" -a -n "$MERGE" ]
    then
        echo "$REMOTE/$(echo "$MERGE" | sed 's#^refs/heads/##')"
    else
        echo "\"$BRANCH\" is not a tracking branch." >&2
        return 1
    fi
}

function glp()
{
    git $(echo "$*" | grep -q -- '--word-diff.*--' && echo --no-pager) log --patch $(echo "$*" | grep -q '\.\.' && echo --reverse) "$@"
}