[core]
    excludesfile = ~/.dotfiles/.gitignore
    autocrlf = false
    safecrlf = false
	quotepath = false
[alias]
    ar = reset HEAD
    st = status
    ci = commit
    co = checkout
    branches = branch -a
    unadd = reset HEAD
    amend = commit -a --amend
    last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
[color]
    ui = auto
    branch = auto
    diff = auto
    status = auto
[color "branch"]
    current = green
    local = blue
    remote = yellow
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[pager]
    color = true
[push]
	default = upstream
[merge]
    log = true
[user]
    name = Chris Jones
    email = leeked@gmail.com
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
