# General
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.vi
*~
*.sass-cache

# Editor/IDE
nbproject/private
.cache
.project
.settings
.tmproj
*.esproj
*.sublime-project
*.sublime-workspace
_notes
dwsync.xml
*.komodoproject
.komodotools

# Folder view config files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Source Control Systems
.svn
.hg
.CSV

# Files that might appear on external disks
.Spotlight-V100
.Trashes