[core]
    excludesfile = ~/.dotfiles/.gitignore
    autocrlf = false
    safecrlf = false
	quotepath = false
	whitespace = trailing-space,space-before-tab,indent-with-non-tab
[alias]
    st = status
    ci = commit
    co = checkout
    branches = branch -a
    unadd = reset HEAD
    amend = commit -a --amend
    log5 = log -5
    last = log -1 HEAD
	lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
	diff = diff -w
[color]
	ui = auto
    branch = auto
    diff = auto
[color "branch"]
    current = green
    local = blue
    remote = yellow
[color "status"]
    added = yellow
    changed = green
    untracked = cyan
[pager]
    color = true
[push]
	default = tracking
[merge]
	log = true
[difftool "Kaleidoscope"]
	cmd = ksdiff-wrapper git \"$LOCAL\" \"$REMOTE\"
[difftool]
	prompt = false
[diff]
	tool = Kaleidoscope
	renames = copies
    mnemonicprefix = true
[advice]
	pushNonFastForward = false
	statusHints = false
[branch]
	autosetupmerge = true
[apply]
	whitespace = nowarn
[help]
	autocorrect = 1
